<footer class="yc-footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <strong class="text-white">
                    <i class="fa-solid fa-tent me-2"></i>YelpCamp
                </strong>
                <span class="ms-2">&copy; 2024 &mdash; Discover your next adventure</span>
            </div>
            <div class="col-md-6 text-md-end mt-2 mt-md-0">
                <a href="/campgrounds" class="me-3">
                    <i class="fa-solid fa-compass me-1"></i>Explore
                </a>
                <a href="/register">
                    <i class="fa-solid fa-user-plus me-1"></i>Sign Up
                </a>
            </div>
        </div>
    </div>
</footer>
